h3 {
    color: rgb(10, 10, 10);
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

.enviopergunta {
    
    color: rgb(34, 34, 32);
    background-color: rgb(239, 247, 247);
    margin: 0 auto;
    text-align: center;

    border-color: white;
    border-radius: 25px;
    max-width: 820px;
    width: 62vw;
    border: 2px;
    padding: 5px 30px;
}

.categoriacadastrada {
    color: rgb(15, 15, 15);
    background-color: rgb(239, 247, 247);
    margin: 0 auto;
    text-align: left;
    border-color: white;
    border-radius: 25px;
    width: 600px;
    border: 2px;
    padding: 5px 30px;
}

#pergunta {

    height: 30px;
    padding: 5px;
    text-align: left;
}

.alt {
    display: flex;
    padding: 5px;
    width:98%;
    text-align: left;

}
#categoria, #correta{
    width:100%;
}

.labelform {
    display: inline-block;
    text-align: left;
    color: rgb(8, 8, 8);
    width: 9vw;
}

#botao {
    padding: 10px;
    width: 100px;
    font-size: 20px ;
    font-style: bold;
}
#botao:hover {
background-color: #377be2;
border-radius: 5px;
}

.link {
color: rgb(47, 153, 153);
}

#contagemperguntas {
    text-align: left;
    
}

#rodape {
    position: relative;
    margin-top: 20px;


}

p, summary {
    color:white;

    margin: 0 auto;
    padding: 5px 0px;
    text-align: left;
}

hr {
    color:white;
    width: 90%;
    text-align: left;
}
form>p {
    text-align: left;

}

tr {
    color:black;
}

#ijogador1, #ijogador2 {
    display: flex;
    width:fit-content;

}

#jogador1, #jogador2 {
    display: flex;
   

}

#msgNaoColaborador {
    color:white;
    border-radius: 0.5vw;
    margin: 0 auto;
}

.texto {
    width:65vw;
    color:white;
    text-align: justify;
    margin: 0 auto;
    padding: 5px 0px;

}
h3.texto{
    margin-top: 20px;
}
#formcolab {
    display: none;
}

picture>img {
    width: 90%;
}

#login {
    display: block;
    margin:0 auto;
    text-align: center;
    }

@media (max-width: 500px) {
    p, summary{
        font-size: 4vw;
    }
    .texto {
        width: 90%;
    }



    .enviopergunta{
        border-radius: 2vw;
        width: 75vw;
    }

    .labelform {
        display: inline-block;
        text-align: left;
        color: rgb(8, 8, 8);
        width: 75vw;
    }
    
    .alt {
        display: flex;
        padding: 5px;
        width: 70vw;
        text-align: left;
    
    } 
    
    #categoria, #correta {
        width: 73vw;
    }
    #infologin2 {
        display: inline;
        max-width: 90vw;
        font-size: 3vw;
    }
}       